{{ template "_internal/google_analytics.html" . }}



<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}" />
<meta property="og:description" content="{{ .Description | default .Summary | default .Site.Params.description }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .Params.featured_image }}
  <meta property="og:image" content="{{ .Params.featured_image | absURL }}" />
{{ else }}
  <meta property="og:image" content="{{ "images/logo-opt-share.png" | absURL }}" />
{{ end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title | default .Site.Title }}" />
<meta name="twitter:description" content="{{ .Description | default .Summary | default .Site.Params.description }}" />
{{ if .Params.featured_image }}
  <meta name="twitter:image" content="{{ .Params.featured_image | absURL }}" />
{{ else }}
  <meta name="twitter:image" content="{{ "images/logo-opt-share.png" | absURL }}" />
{{ end }}

<meta property="og:logo" content="{{ "images/logo-opt-share.png" | absURL }}" />

<meta name="robots" content="index, follow" />